@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url("../assets/fonts/montserrat.ttf");
    font-family: "Montserrat Thin";
}

body {
    font-family: "Montserrat Thin";
}

.hero-background {
    background-image: url("../assets/img/hero.jpg");
    background-position: center;
    background-size: cover;
}